.button {
  border: 0;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  height: 60px;
  outline: 0;
  width: 100%;
}

.button--primary {
  background-color: #373d45;
  color: #fff;
}

.button--accent {
  background-color: #1795d4;
  color: #fff;
}

.button--secondary {
  background-color: #196b98;
  color: #fff;
}
